*{
   box-sizing: border-box;
}

body{
   font-family: 'Helevetica Neue','Helvetica', sans-serif;
}

p{
   margin: 0;
   line-height: 1.65;
   font-size: 18px;
}

hr{
   margin-top:0;
   margin-bottom: 20px;
}

#app-container{
   width: 450px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 80px;
   border: 4px black solid;
   padding: 40px;

}

.some-section{
   /* border: 3px solid dodgerblue; */
   margin-bottom: 12px;
}



.header h1 {
   font-size: 28px;
   margin-bottom: 4px;
}

.header h2 {
   /*#[red-red][green-green][blue-blue]*/
   color: rgba(135, 75, 74, 1);
   font-size: 24px;
   font-weight: 200;
   margin-top: 0px;
   margin-bottom: 20px;
}

.header img{
   display: block;
   width: 340px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;


}

.expo-info p {
   margin-bottom: 30px;
}

.sponsor-info p {
   margin-bottom: 20px;
}

.sponsor-info img{
   width: 120px;
}

.footer p{
   margin-bottom: 20px;
}

.footer img {
   display: block;
   width: 100%;
}
