*{
   box-sizing: border-box;
}



body{
   margin: 0 auto;
   background: papayawhip;   /*change me pls*/
   font-family: "Helevetica Neue", 'Helvetica', sans-serif; 
}

#app-container{
   max-width: 960px;
   margin: 0 auto;
}
